// *********************************************************************************************************************************
// PALETTE DE COLORES PERSONALIZADOS
// BANANA
// GIANNINO 13-04-2020
//
//
/* For use in _color-definitions.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-bnnprimary: (
    50 : #ebf1fd,
    100 : #ceddfa,
    200 : #adc6f7,
    300 : #8caff3,
    400 : #739ef1,
    500 : #5a8dee,
    600 : #5285ec,
    700 : #487ae9,
    800 : #3f70e7,
    900 : #2e5de2,
    A100 : #ffffff,
    A200 : #f1f4ff,
    A400 : #becdff,
    A700 : #a4baff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bnnsecondary: (
    50 : #e9ecef,
    100 : #c8cfd7,
    200 : #a3afbd,
    300 : #7e8fa3,
    400 : #63778f,
    500 : #475f7b,
    600 : #405773,
    700 : #374d68,
    800 : #2f435e,
    900 : #20324b,
    A100 : #8fbcff,
    A200 : #5c9dff,
    A400 : #297eff,
    A700 : #0f6fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-bnnsucces: (
    50 : #e7fbf1,
    100 : #c4f4dc,
    200 : #9cedc5,
    300 : #74e5ad,
    400 : #57e09c,
    500 : #39da8a,
    600 : #33d682,
    700 : #2cd077,
    800 : #24cb6d,
    900 : #17c25a,
    A100 : #f5fff8,
    A200 : #c2ffd8,
    A400 : #8fffb7,
    A700 : #75ffa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bnninfo: (
    50 : #e0f9fb,
    100 : #b3f1f5,
    200 : #80e7ee,
    300 : #4ddde7,
    400 : #26d6e2,
    500 : #00cfdd,
    600 : #00cad9,
    700 : #00c3d4,
    800 : #00bdcf,
    900 : #00b2c7,
    A100 : #effdff,
    A200 : #bcf7ff,
    A400 : #89f1ff,
    A700 : #6feeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bnnwarning: (
    50 : #fff5e8,
    100 : #fee6c6,
    200 : #fed6a0,
    300 : #fec57a,
    400 : #fdb85e,
    500 : #fdac41,
    600 : #fda53b,
    700 : #fc9b32,
    800 : #fc922a,
    900 : #fc821c,
    A100 : #ffffff,
    A200 : #fffefc,
    A400 : #ffe0c9,
    A700 : #ffd2b0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-bnndanger: (
    50 : #ffebeb,
    100 : #ffcece,
    200 : #ffadae,
    300 : #ff8c8d,
    400 : #ff7474,
    500 : #ff5b5c,
    600 : #ff5354,
    700 : #ff494a,
    800 : #ff4041,
    900 : #ff2f30,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdadb,
    A700 : #ffc1c1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
//
// FIN DE LOS COLORES PERSONALIZADOS
//**********************************************************************************************************************************
